/* Source: https://www.w3schools.com/howto/howto_css_fixed_menu.asp */
/* La barre de navigation */
.menu {
  overflow: hidden;
  background-color: #333;
  position: fixed; 
  top: 0; 
  width: 100%; 
  height: 100px;
  line-height: 100px;
}

/* Source: https://www.w3schools.com/howto/howto_css_fixed_menu.asp */
/* Liens dans la barre de navigation */
.menu a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Source: https://www.w3schools.com/howto/howto_css_fixed_menu.asp */
/* Change l'arrière-plan au survol de la souris */
.menu a:hover {
  background: #ddd;
  color: black;
}
