*{
  margin: 0;
  padding: 0;
  text-decoration: none;
}

/*Source: https://www.youtube.com/watch?v=Dtb3DdSvYRY*/
header{
  position: fixed;
  font-family: Comic Sans MS;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(69, 68, 65, 0.9);
  display: flex;
  padding: 25px 3%;
}

/*Source: https://www.youtube.com/watch?v=Dtb3DdSvYRY*/
.menu a{
  float: left;
  font-size: 18px;
  color: white;
  font-weight: 500;
  margin: 0 20px;
  border-bottom: 3px solid transparent;
  transition: 0.3s ease;
}

/*Source: https://www.youtube.com/watch?v=Dtb3DdSvYRY*/
.menu a:hover{
  color: orangered;
  border-bottom: 3px solid orangered;
}
