*{
  /*padding: 0;*/
  /*margin: 0;*/
  font-family: Comic Sans MS;
}

body{
  padding: 0px;
  margin: 0px;
}

.contenant{
  width: 95%;
  margin: 0 auto;
}

/*https://www.youtube.com/watch?v=lnxrLw4nEyM*/
header{
  height: 100px;
  width: 100%;
  background: rgb(8, 27, 41);
  position: sticky;
  top: 0;
  box-shadow: 6px 0 15px #00ABF0;
  z-index:12;
}

nav{
  float:left;
  line-height: 100px;
}

nav a{
  text-decoration: none;
  font-size: 20px;
  margin: 0 1px;
  padding: 36px 10px;
  color: white;
  font-weight: 500;
}

/*Source d'inspiration: https://www.youtube.com/watch?v=Dtb3DdSvYRY*/ 
nav a:hover,
nav a.active{
  transition: 0.3s ease;
  color: #00ABF0;
}

/*Source: https://openclassrooms.com/fr/courses/1603881-apprenez-a-creer-votre-site-web-avec-html5-et-css3/8061410-decouvrez-les-bases-de-css-grids*/
.grid_contenant{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px
}

.texte{
  background-color: #c5f3fa;
  border-radius: 0 0 10px 10px;
  padding: 10px;
  min-height: 125px; /*Source: https://openclassrooms.com/fr/courses/1603881-apprenez-a-creer-votre-site-web-avec-html5-et-css3/8061510-utilisez-le-responsive-design-avec-les-media-queries*/
}

.banniere_poeme{
  background: url("../images/leaves.jpg");
  width: 100%;
  height: 50vh;
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
}

.banniere_poeme h1{
  font-family: "Spicy Rice", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 90px;
  text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.7);
  -webkit-text-stroke: 2px white; /* Source: https://stackoverflow.com/questions/2570972/css-font-border*/
}

.poem_body{
  font-family: Comic Sans MS;
  text-align: center;
  background-color: #081B29;
/*Source: https://codepen.io/P1N2O/pen/pyBNzX*/
  /*background: linear-gradient(135deg, #1F4959, #5C7C89, #FFFFFF);*/
  /*background-size: 400% 400%;*/
  /*animation: gradient 15s ease infinite;*/
}

/* Source: https://codepen.io/P1N2O/pen/pyBNzX*/
/*@keyframes gradient{*/
	/*0% {*/
		/*background-position: 0% 50%;*/
	/*}*/
	/*50% {*/
		/*background-position: 100% 50%;*/
	/*}*/
	/*100% {*/
		/*background-position: 0% 50%;*/
	/*}*/
/*}*/

.source_poeme a{
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #00ABF0;
  background-color: transparent;
  width: 140px;
  padding: 20px;
  border:2px solid #00ABF0;
  transition: 0.3s;
/* Source: https://9elements.github.io/fancy-border-radius/ */
  border-radius:44% 56% 39% 61% / 100% 0% 100% 0%;
}

.source_poeme a:hover{
  color: #081B29;
  background-color: #00ABF0;
}

.poem_box{
  background-color: rgba(255, 255, 255, 0.2);
  color: white;
  margin: 20px;
  width:500px;
  padding: 20px;
  border: 3px solid #00ABF0;
  border-radius: 20px;
}

.banniere_voyage{
  background: url("../images/All_Gizah_Pyramids.jpg");
  width: 100%;
  height: 50vh;
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
}

.banniere_voyage h1{
  font-family: "Spicy Rice", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 90px;
  text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.7);
  -webkit-text-stroke: 2px white; /* Source: https://stackoverflow.com/questions/2570972/css-font-border*/
}

.desc_titre{
  position: relative;
  width: 375px;
  border: 2px solid #00ABF0;
  border-radius: 15px 15px 0 0;
  z-index: 2;
  top: 20px;
  background-color: #081b29;
}

.desc{
  position: relative;
  border: 2px solid #00ABF0;
  border-radius: 0 15px 15px 15px;
  padding: 10px;
  z-index: 1;
}

/*Source: https://www.sliderrevolution.com/resources/css-border-animation/*/
.boite{
  margin: 20px;
  margin-bottom: 70px;
  width:400px;
  padding: 20px;
  border: 3px solid #00ABF0;
  border-radius: 20px;
  position: relative;
  background: linear-gradient(0deg, #000, #272727);
}

/*Source: https://www.sliderrevolution.com/resources/css-border-animation/*/
.boite:before, .boite:after {
  content: '';
  position: absolute;
  border-radius: 20px;
  left: -2px;
  top: -2px;
  background: linear-gradient(45deg, #0000ff, #00eeff, transparent, #0000ff, #00eeff, transparent);
  background-size: 400%;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  z-index: -1;
  animation: steam 20s linear infinite;
}

/*Source: https://www.sliderrevolution.com/resources/css-border-animation/*/
@keyframes steam {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

/*Source: https://www.sliderrevolution.com/resources/css-border-animation/*/
.boite:after {
  filter: blur(50px);
}

.reserve a{
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #00ABF0;
  background-color: transparent;
  width: 125px;
  padding: 10px;
  border:2px solid #00ABF0;
  border-radius: 10px;
  transition: 0.3s;
}

.reserve a:hover{
  background-color: #00ABF0;
  color: #081B29;
}

.banniere_biographie{
  background: url("https://static.vecteezy.com/ti/photos-gratuite/p2/2307019-cahier-vide-et-stylo-sur-le-bureau-gratuit-photo.jpg");
  width: 100%;
  height: 50vh;
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
}

.banniere_biographie h1{
  font-family: "Spicy Rice", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 90px;
  text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.7);
  -webkit-text-stroke: 2px white; /* Source: https://stackoverflow.com/questions/2570972/css-font-border*/
}
